<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icourt.alpha">
    <!-- 加入应用需要的权限 -->
    <!-- 网络相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGlsE_NETWORK_STATE" />

    <!-- 手机状态 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 读写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />


    <!-- 多媒体 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--微信分享到alpha-->
        <activity
            android:name=".activity.ImportFile2AlphaActivity"
            android:theme="@style/AppThemeTransnotAnimation"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/x-excel" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" /> <!-- 网页分享 -->
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden" />
        <activity
            android:name=".activity.LoginSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginWithPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize|stateHidden" />

        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DemoRealmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DemoViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BugtagsDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatHistortySearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdatePhoneOrMailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFileTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatMsgClassfyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAtedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyCollectedCustomersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ChatActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.EditItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupMemberDelActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.GroupMemberListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.AlphaSpecialHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectEndTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectTaskGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskGroupCreateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.TimerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenotAnimation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TimerAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimerTimingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.CommentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name=".activity.TaskDescUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.FileBoxListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FolderboxSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileBoxDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchPolymerizationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.TaskCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerPersonDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerCompanyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectCustomerTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerPersonCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectLiaisonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomerCompanyCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAllotTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFinishTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlphaSpeciaSetActivity"
            android:screenOrientation="portrait" />
        <!-- umeng appkey配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58e468e8310c9331870012a5" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Android_002_yingyongbao" />
        <!--   <meta-data
               android:name="com.sensorsdata.analytics.android.AndroidId"
               android:value="true"/>-->
        <!--  <meta-data
              android:name="com.sensorsdata.analytics.android.EnableLogging"
              android:value="true" />-->

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.icourt.alpha.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="${NIM_APPKEY}" />

        <service android:name=".service.SyncDataService" />
        <!-- cosine -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine"></service>

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine"></receiver>

        <!-- cosine target SDK integrated -->
        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />


        <!-- 声明云信后台服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!-- 声明云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core" />

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

    </application>
</manifest>